:root {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
}
h1 {
  font-size: 3rem;
}

header {
  height: 50vh;
  width: 100%;
  background-color: #121212;
}
main {
  background: linear-gradient(
    186deg,
    rgba(18, 18, 18, 1) 21%,
    rgba(13, 32, 71, 1) 42%,
    rgba(99, 31, 135, 1) 100%
  );
}

.container {
  height: 100%;
  width: 60%;
  margin: 5em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
iframe {
  border: none;
  margin: 2rem 0;
  width: 100%;
  height: 50vh;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
